
/* Add to your global CSS file */
.custom-scrollbar {
  scrollbar-width: thin;  /* For Firefox */
  scrollbar-color: white transparent;  /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;  /* For Chrome, Safari, and Opera */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
}